################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CDCatalog/v14
/bin
/obj
/packages/EntityFramework.6.1.3
